
<%= form_for @image do |i| %>
<p>
	<%= i.label :title %>
	<%= i.text_field :title %>
</p>
<p>
	<%= i.label :author %>
	<%= i.text_field :author %>
</p>
<p>
	<%= i.label :URL %>
	<%= i.text_field :URL %>
</p>
<p>
	<%= i.submit "Save" %>
</p>
<% end %>